body{
    background: url(imgs/Grass_BG.png) no-repeat fixed;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    text-align: center;
    
}
@font-face{
    font-family: marioFont;
    src: url(Mario_and_Luigi.ttf);
}
.title{
    font-family: marioFont;
}
.player1{
display: flex;
margin-right:20%;
text-align: left;
width: 20px;
margin-left:20%;
position: absolute;

}


.player2{
    text-align:right;
    
    margin-right:20%;

    
}
.healthBar1{
    margin-top: 80px;
    margin-left: 80%;
}
.attacks1{

}
.player1name{
    padding:5%;
    margin:0%;

}

.image1{
    width:100px;
    height: 110px;
}
.image2{
    width:100px;
    height:130px;
}